/* Base Application Styles */

@import 'font-awesome.scss';
@import 'Fonts.scss';
@import 'Palette.scss';

@mixin shadow-container($length, $radius) {
  -webkit-box-shadow: 0px $length $radius 0px rgba(154,140,152,0.5);
  -moz-box-shadow: 0px $length $radius 0px rgba(154,140,152,0.5);
  box-shadow: 0px $length $radius 0px rgba(154,140,152,0.5);
}

@mixin round-corners($radius1, $radius2) {
  -webkit-border-radius: $radius2 $radius1 $radius2 $radius1;
  -moz-border-radius: $radius2 $radius1 $radius2 $radius1;
  border-radius: $radius2 $radius1 $radius2 $radius1;
}

@mixin journal-text() {
  color: $std-text-color;
  font-size: 8pt;
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: $std-text-color;
  background: $component-color-0;
  font-family: $standard-font;
  margin: 0;
  padding: 0 15px;
}

a {
  color: $highlight-color-4;
}

$component-indent: 20px;
$page-width: 950px;
$min-page-width: 700px;

.index {
  max-width: $page-width;
  min-width: $min-page-width - $component-indent*2;
  margin: 0 auto;

  > * {
    margin: 0 auto;
  }
}

$header-indents: 10px;
$header-height: 35px;

header {
  @include shadow-container(3px, 5px);
  background-color: $component-color-3 !important;
  font-family: $elegant-font;
  height: $header-height;
  padding: $header-indents 0;
  position: absolute;
  text-shadow: 1px 1px $component-color-4;
  left: 0;
  width: 100%;
  min-width: $min-page-width;

  .wrapper {
    margin: 0 auto;
    max-width: $page-width;
    position: relative;

    img {
      width: $header-height;
      height: $header-height;
      position: absolute;
      left: $header-indents*1;
    }

    h1 {
      color: $text-color-4;
      font-size: 14pt;
      margin: 0;
      margin-left: $header-indents*5;
    }

    h2 {
      color: $text-color-3;
      font-size: 10pt;
      margin: 0;
      margin-left: $header-indents*7;
    }
  }

}

$nav-height: $header-height;

nav#navigation {
  font-weight: bold;
  font-size: 11pt;
  height: $nav-height;
  padding-top: ($nav-height - 11pt)/2;
  position: absolute;
  text-shadow: 1px 1px $component-color-4;
  left: 50%;
  width: 50%;
  min-width: $min-page-width/2;

  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        color: $text-color-4;
        display: inline-block;
        height: $nav-height;
        line-height: 1.9;
        position: relative;
        padding: 0 $nav-height/2;
        text-decoration: none;
      }
    }
  }
}

#content-container {
  padding: $component-indent 0;
  padding-top: $header-height + $component-indent*2;
}

aside#side-notes {
  @include round-corners($component-indent/2, 0);
  background: $std-background-color;
  float: right;
  font-size: 15pt;
  margin-bottom: $component-indent;
  width: 200px;

  > * {
    border-top: 1px solid $component-color-1;

    > * {
      font-size: 8pt;
      color: $text-color-1;
      margin: $component-indent/2 $component-indent;
    }

    > *:last-child {
      margin-bottom: $component-indent;
    }

    > h3 {
      border-bottom: 1px dashed $component-color-1;
      color: $text-color-2;
      font-family: $casual-font;
      font-size: 10pt;
      margin: $component-indent auto;
      text-align: center;
      text-shadow: 2px 2px $component-color-0;
      width: 50%;
    }
  }

  > *:first-child {
    border: 0;
  }
}

#journal-wrapper {
  overflow: hidden;
  padding-right: $component-indent;
  width: auto;

  #journal-input {
    @include shadow-container(1px, 2px);
    @include round-corners($component-indent/2, $component-indent/5);
    background-color: $text-color-4;
    margin-bottom: $component-indent;
    padding: $component-indent;

    ul {
      margin: 0;
      margin-top: $component-indent/2;
      padding: 0;

      li {
        @include round-corners(2px, 2px);
        background-color: $std-background-color;
        border: 1px solid $text-color-3;
        display: inline-block;
        margin-right: $component-indent/2;
        font-size: 7pt;
        padding: $component-indent/3;
      }
    }

    textarea {
      @include journal-text();
      border: 1px solid $text-color-3;
      display: block;
      width: 100%;
    }
  }
}

section#journal {
  > * {
    @include shadow-container(1px, 2px);
    @include round-corners($component-indent/2, $component-indent/5);
    @include journal-text();
    background-color: $std-background-color;
    margin-bottom: $component-indent;
    padding: $component-indent;
    height: 100%;
  }

  article {
    div {
      margin-top: $component-indent;
    }

    .date {
      color: $text-color-2;
      font-weight: bold;
      margin: 0;
    }
  }
}

footer {
  @include shadow-container(2px, 2px);
  @include round-corners($component-indent/2, 0);
  background: $component-color-2;
  color: $text-color-4;
  clear: both;
  font-family: $elegant-font;
  font-size: 8pt;
  font-weight: bold;
  letter-spacing: 1pt;
  padding: $component-indent/3 0;
  text-align: center;
}
