// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=3180r0k1Xqw4Fvi3tot56l+76k8 */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #D3D0C6;	// Main Primary color */
$color-primary-1: #F9F0D5;
$color-primary-2: #C3BDAE;
$color-primary-3: #AFA893;
$color-primary-4: #A0977D;

$color-secondary-1-0: #8B8890;	// Main Secondary color (1) */
$color-secondary-1-1: #9C94AA;
$color-secondary-1-2: #7D7885;
$color-secondary-1-3: #6C6678;
$color-secondary-1-4: #5F586D;

$color-secondary-2-0: #808487;	// Main Secondary color (2) */
$color-secondary-2-1: #8A97A0;
$color-secondary-2-2: #70787D;
$color-secondary-2-3: #606970;
$color-secondary-2-4: #525E67;
