@import url('https://fonts.googleapis.com/css?family=Amatica+SC');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$standard-font: 'Open Sans', sans-serif;
$casual-font: 'Amatica SC', cursive;
$elegant-font: 'Poiret One', cursive;
