@import 'Colours.scss';

$std-background-color: #fdfdfd;

$std-text-color: #101010;

$text-color-0: $color-primary-0;
$text-color-1: $color-primary-1;
$text-color-2: $color-primary-2;
$text-color-3: $color-primary-3;
$text-color-4: $color-primary-4;

$highlight-color-0: $color-secondary-1-0;
$highlight-color-1: $color-secondary-1-1;
$highlight-color-2: $color-secondary-1-2;
$highlight-color-3: $color-secondary-1-3;
$highlight-color-4: $color-secondary-1-4;

$component-color-0: $color-secondary-2-0;
$component-color-1: $color-secondary-2-1;
$component-color-2: $color-secondary-2-2;
$component-color-3: $color-secondary-2-3;
$component-color-4: $color-secondary-2-4;
